body { 
    background-color: #a7095c;
}

.container { 
    background-color: #4BE3AC;
    border: #94FC13 solid 2px;
    height: 450px;
}

hr { 
    background-color: #94FC13;
    width: 50%;}

h1 { 
    border: solid 3px #94FC13;
    color: #ffdd00;
    margin-left: 550px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    width: 250px;}

h2 {
    border: #94FC13 solid 2px;
    color: #ffdd00;
    padding: 5px;
}
